
/* HEADER */

.header {
    height: 115px;
    align-items: center;
}
.gen {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(auto, 115px);
}

.logo {
    display: grid;
    justify-items: center;
    align-items: center;
}

.menu {
    display: grid;
    align-items: center;
}


.menuTitle {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
}

.menuTitle li {
    display: grid;
}

.menuTitle li a {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 15px;
    padding: 5px;
    margin: 5px;
    font-size: 13px;
    width: 100px;
    height: 30px;
    border: 1px solid transparent;
    text-decoration: none;
    color: black;
}

.menuTitle li a:hover {
    color: white;
    background-color: #993333;
    border-radius: 2px;
}

/* MAIN */
/* SECTION1 */

.section1 {
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
}

.center {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    height: 600px;
}

.welcome {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    grid-row-gap: 1em;
}

.welcome h1{
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.welcome a {
    font-size: 20px;
    font-weight: normal;
    color: white;
}

.welcome button {
    width: 270px;
    height: 65px;
    font-size: 30px;
    font-weight: bold;
    color: #339966;
    border: none;
    border-radius: 15px/30px;
}

/* SECTION2 */

.section2 {
    height: 836px;
}

.first_line {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    height: 200px;
}

.back_ground {
    background-image: url(Photo1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.red {
    background-color: #993333;
    display: grid;

    justify-items: center;
    align-items: center;
}

.red h3 {
    color: white;
    padding-left: 30px;
    font-size: 30px;
    font-weight: bold;
    
}

.red a {
    justify-items: start;
    color: white;
    padding-left: 30px;
}

.lg {
    display: grid;

    justify-items: end;
    align-items: center;
    padding-right: 75px;
}

.lg img {
    width: 300px;
}


.second_line {
    display: grid;
    grid-template-columns: 4fr 3fr;
    height: 638px;
}

.first_box {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.input_box {
    background-color: #009933c7;
    display: grid;
    justify-items: end;
    align-items: center;
    padding-right: 155px;
}

.input_box h3 {
    font-size: 40px;
    color: white;
}

.input_box a {
    font-size: 15px;
    color: white;
}

.input input {
    width: 273px;
    height: 45px;
    background-color: #66ff99;
    border: none;
}

.input input::placeholder {
    padding-left: 20px;
    color:#006633;
}

.input button {
    width: 125px;
    height: 45px;
    left: -5px;
    background-color:#006633;
    border: none;
    color: white;
}

.grass {
    background-image: url(Photo2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.second_box {
    background-image: url(Photo3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.cl {
    display: grid;
    grid-template-columns: 4fr 3fr;
}

.face {
    background-color: #336699;
    display: grid;
    grid-template-rows: 8fr 1fr;
    align-items: center;
    justify-items: center;
}

.face a {
    color: white;
    font-weight: bold;
}

/* SECTION3 */

.section3 {
    height: 685px;
}

.events {
    display: grid;
    grid-template-columns: 1fr;
    height: 180px;
    font-size: 50px;
    justify-items: center;
    align-items: center;
}

.col {
    display: grid;
    grid-template-columns: 1fr;
}

.our {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 2em;
}

.box {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    line-height: 50px;
}

.box h2 {
    font-size: 40px;
    color: #993333;
}

.box p {
    font-size: 30px;
}

.box a {
    font-size: 20px;
    text-align: center;
    line-height: 25px;
}

.box button {
    width: 88px;
    height: 37px;
    background-color: #333333;
    color: white;
    border: none;
    margin-top: 40px;
}

.qub {
    width: 89px;
    height: 89px;
    border: none;
    background-color: #333333;
    color: white;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 35px;
}

/* FOOTER */

.footer {
    height: 382px;
    background-color: #333333
}

.all {
    display: grid;
    grid-template-rows: 1fr;
    height: 129px;
    border-bottom: 1px solid silver;
}

.menuTitle2 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
}

.menuTitle2 li a {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 15px;
    padding: 5px;
    margin: 5px;
    font-size: 13px;
    width: 100px;
    height: 30px;
    border: 1px solid transparent;
    text-decoration: none;
    color: silver;
}

.menu_us {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.follow {
    height: 160px;
    border-bottom: 1px solid silver;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.us {
    display: grid;
    justify-items: start;
    align-items: center;
}

.us h2 {
    font-size: 40px;
    color: silver;
}

.ig {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.ig div {
    display: grid;
    justify-items: center;
    align-items: center;
}

.fr {
    background-color: blue;
}
.sec {
    background-color: rgb(0, 174, 255);
}
.thr {
    background-color: red;
}

.us div {
    width: 40px;
    height: 40px;
}

.letter input {
    width: 200px;
    height: 43px;
    background-color: #575252;
    border: none;
}

.letter button {
    width: 123px;
    height: 43px;
    background-color: #993333;
    color: white;
    border: none;
}

.cont {
    display: grid;
    grid-template-rows: repeat(4, 1fr)
}

.cont h2 {
    font-size: 25px;
    color: silver;
    font-weight: bold;
}

.cont a {
    font-size: 15px;
    color: silver;
}

.charity {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
}

.charity a {
    color: silver;
}


