
/* HEADER */

.header {
    height: 115px;
    align-items: center;
}
.gen {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(auto, 115px);
}

.logo {
    display: grid;
    justify-items: center;
    align-items: center;
}

.menu {
    display: grid;
    align-items: center;
}


.menuTitle {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
}

.menuTitle li {
    display: grid;
}

.menuTitle li a {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 15px;
    padding: 5px;
    margin: 5px;
    font-size: 13px;
    width: 100px;
    height: 30px;
    border: 1px solid transparent;
    text-decoration: none;
    color: black;
}

.menuTitle li a:hover {
    color: white;
    background-color: #993333;
    border-radius: 2px;
}

/* MAIN */
/* SECTION1 */

.section1 {
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
}

.center {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    height: 600px;
}

.welcome {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    grid-row-gap: 1em;
}

.welcome h1{
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.welcome a {
    font-size: 20px;
    font-weight: normal;
    color: white;
}

.welcome button {
    width: 270px;
    height: 65px;
    font-size: 30px;
    font-weight: bold;
    color: #339966;
    border: none;
    border-radius: 15px/30px;
}

/* SECTION2 */




